<script type="application/javascript">
	function setYan() {
		var form = document.getElementById("myform");
		var txt = document.getElementById("srch");
		var machine = document.getElementById("machine");
		form.method = "get";
		form.action = "https://yandex.ru/search";
		txt.name = "text";
		machine.innerText = "Yandex"
	}
</script>

<script type="application/javascript">
	function setMail() {
		var form = document.getElementById("myform");
		var txt = document.getElementById("srch");
		var machine = document.getElementById("machine");
		form.method = "get";
		form.action = "https://go.mail.ru/search";
		txt.name = "q";
		machine.innerText = "Mail"
	}
</script>

<form id="myform" method="get" action="https://yandex.ru/search">
	<p><span id="machine">Yandex</span></p>
	<input id="srch" type="search" name="text" />
	<input type="submit" value="Search"/>
</form>

<button onclick="setYan()">Yandex</button>
<button onclick="setMail()">Mail</button>