td#header {
    font-size: 120px;
}

ul{
    display: inline-block;
}
li{
    display: inline;
}
b {
    font-size: 20px;
}
div#text {
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 2px solid #000000;
    -moz-column-rule: 2px solid #000;
    column-rule: 2px solid #000;
    margin-left: 15px;
    margin-right: 15px;
}